/* Tarjeta del chat */
.chat-card {
  background-color: #3c3f41; 
  border: none;
  border-radius: 15px;
  margin-top: 20px;
}

/* Encabezado del chat */
.msg_head {
  background-color: #6a5acd; 
  color: white; 
  border-radius: 15px 15px 0 0;
  height: 90px;
}

/* Contenedor de los mensajes */
.msg_card_body {
  height: 320px;
  background-color: #2c2f33; 
  overflow-y: auto;
  color: white;
}

/* Mensaje del usuario */
.msg_cotainer_send {
  background-color: #6a5acd; 
  color: white; 
  padding: 10px 13px;
  border-radius: 15px 15px 0 15px;
  max-width: 60%;
  margin-top: 10px;
}
.img_cont_msg{
  margin: 10px;
}

/* Mensaje de otra persona */
.msg_cotainer {
  background-color: #3c3f41; 
  color: white;
  padding: 10px 15px;
  border-radius: 15px 15px 15px 0;
  max-width: 60%;
  margin-top: 10px;
}

/* Input del mensaje */
.type_msg {
  background-color: #78797a; 
  color: white; 
  border: none;
  border-radius: 20px;
}

.type_msg:focus {
  box-shadow: none;
  outline: none;
  
}

/* Botón enviar */
.send_btn {
  background-color: #6a5acd; 
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
}

.send_btn:hover {
  background-color: #5a4cbf; 
  color: white;
}

/* Iconos de usuarios */
.user_img, .user_img_msg {
  width: 40px;
  height: 40px;
  border: 2px solid #6a5acd;
}